<div class="text-center"S>
<h1 class="text-align center">My Time App</h1>
<h2><%= Time.now.strftime("%d-%b-%Y %I:%M %p") %></h2>
</div>

<div class="mw-90">
<%= month_calendar(attribute: :start_date, events: @meetings) do |date, meetings| %>
<%= date %>

<% meetings.each do |meeting| %>
  <div>
  
   <button type="button" class="btn btn-success">
    <%= meeting.start_date.strftime("%d-%b-%Y %I:%M %p") %>
  </button> 
  <button type="button" class="btn btn-danger">
    <%= meeting.end_date.strftime("%d-%b-%Y %I:%M %p") %></button>
  </div>
<% end %>
<% if Meeting.daily_total_duration(date) > 0 %>
<button type="button" class="btn btn-warning" ><%= Time.at(Meeting.daily_total_duration(date)).utc.strftime("%H hrs & %M mins ") %></button>

<% end  %>
<% end %>
  
</div>
</div>
<div class="mw-90">
<h1>Meetings</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col">Duration</th>
      <th scope="col">Overtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.start_date.strftime("%d-%b-%Y") %></td>
        <td><%= meeting.start_date.strftime("%I:%M %p") %></td>
        <td><%= meeting.end_date.strftime("%I:%M %p")  %></td>
        <td><%= Time.at(meeting.duration).utc.strftime("%H hours and %M minutes ") %></td>
        <% if  (meeting.daily_total_ot) > 0 %>
        <td><%= Time.at(meeting.daily_total_ot).utc.strftime("%H hours and %M minutes ") %></td>
         <% else  %>
        <td>No Overtime</td>
        <% end %>
      
        <td><%= link_to 'Show', meeting %></td>
        <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
        <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meeting', new_meeting_path %>
</div>
